<div class="sidepost">
        <h3><a href="single.html">Contents</a></h3>
        <nav>
                <ul class="alt">
                        <li>Test</li>
                        <li>Test</li>
                        <li>
                                <ul class="alt">
                                        <li>Test</li>
                                        <li>Test</li>
                                        <li>Test</li>
                                </ul></li>
                </ul>
        </nav>
        <h3><a href="single.html">Contents</a></h3>
        <nav>
                <ul class="alt">
                        <li>Test</li>
                        <li>Test</li>
                        <li>
                                <ul class="alt">
                                        <li>Test</li>
                                        <li>Test</li>
                                        <li>Test</li>
                                </ul></li>
                </ul>
        </nav>
</div>