<!-- Sidebar -->
<div id="sidebar">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Cadence</h2>
            </header>
            <ul>
                {% for nav in site.data.top_nav %}
                {% if nav.children %}
                <li>
                    {% for child in nav.children %}
                    {% if child.link == page.url %}
                    {% assign active = " active" %}
                    {% endif %}
                    {% endfor %}
                    <span class="opener{{ active }}">{{ nav.name }}</span>
                    <ul>
                        {% for child in nav.children %}
                        <li><a href="{{ child.link }}">{{ child.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% assign active = null %}
                </li>
                {% else %}
                <li><a href="{{ nav.link }}">{{ nav.name }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
        <!--
        <section>
            <header class="major">
                <h2>Ante interdum</h2>
            </header>
            <div class="mini-posts">
                <article>
                    <h4>Test</h4>
                    <a href="#" class="image"><img src="images/pic07.jpg" alt=""></a>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                </article>
                <article>
                    <a href="#" class="image"><img src="images/pic08.jpg" alt=""></a>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                </article>
                <article>
                    <a href="#" class="image"><img src="images/pic09.jpg" alt=""></a>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                </article>
            </div>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </section>
        -->
        <section>
            <header class="major">
                <h2>Get Involved</h2>
            </header>
            <p>Cadence is a Community owned project, you can find the source files for the rules and modules on Github. Find out more about it at the <a href="/about/">About Cadence</a> page.</p>
            <ul class="contact">
                <li class="icon solid brands fa-github">
                    <a href="https://github.com/open-source-tabletop/cadence">Cadence on Github</a>
                </li>
            </ul>
        </section>
    </div>
</div>