 /* The navigation bar */
 .navbar {
    overflow: hidden;
    background-color: $font-color;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1000;
  }
  
  /* Links inside the navbar */
  .navbar .menu a {
    float: left;
    display: block;
    color: $link-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .navbar .menu a:hover {
    color: black;
    background-color: $light-grey;
  }
  
  /* Main content */
  .main {
    margin-top: 100px; /* Add a top margin to avoid content overlay */
  } 