// Tables
th,
td {
  padding: 2px 3px;
  text-align: left;
  border-bottom: 1px solid $light-grey;
  font-size: 1.6rem;
  letter-spacing: -.03rem;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

th {
  text-transform: uppercase;
  white-space: nowrap;
}