---
---
@import "main";

.module-subtitle {
    font-family: _font(family-heading);
    font-size: 0.6em;
    font-weight: _font(weight-heading);
    letter-spacing: _font(kerning-heading);
    letter-spacing: _size(letter-spacing-alt);
    margin-bottom: 0;
    text-decoration: none;
    text-transform: uppercase;
}
.post {
    h1, h2, h3, h4, h5, h6 {
        padding-top: 75px;
        margin-top: -75px;
    }
    ul p {
        margin-bottom: 0;
    }
}

 /* Style the list */
 ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  /* Display list items side by side */
  nav.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  nav.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  nav.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  nav.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  } 