---
---
@import "main";

.module-subtitle {
    font-family: _font(family-heading);
    font-size: 0.6em;
    font-weight: _font(weight-heading);
    letter-spacing: _font(kerning-heading);
    letter-spacing: _size(letter-spacing-alt);
    margin-bottom: 0;
    text-decoration: none;
    text-transform: uppercase;
}
.post {
    h1, h2, h3, h4, h5, h6 {
        padding-top: 75px;
        margin-top: -75px;
    }
    ul p {
        margin-bottom: 0;
    }
}

