---
title: Modules
subtitle: Find a game to play
permalink: /modules/
layout: modules
---

<!-- Post -->
<article class="post">
  {% if page.title %}
  <header>
    <div class="title">
      <h2>{{ page.title }}</h2>
      <p>Find something new to play.</p>
    </div>
  </header>
  <h3>Contents</h3>
  <ul class="alt">
    {% for module in site.modules %}
    <li><a href="#{{ module.title| slugify }}">{{ module.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</article>

{% for module in site.modules %}
<article class="post">
  <header>
    <div class="title">
      <a href="{{module.url}}"><h2 id="{{ module.title | slugify }}">{{ module.title }}</h2></a>
      {% if module.subtitle %}
      <p>{{ module.subtitle }}</p>
      {% endif %}
    </div>
  </header>
  <p>{{ module.excerpt | markdownify }}</p>
  <p><a class="button" href="{{ module.url }}">{{module.title}}</a></p>
</article>
{% endfor %}