<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/css/styles.css">
    </head>
    <body>
        <div class="navbar">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        <div class="menu">
                            <a href="#">Test</a>
                            <a href="#">Test</a>
                            <a href="#">Test</a>
                            <a href="#">Test</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="container">
                <div class="row">
                    <div class="twelve columns">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>