body.pdf {
    width: 800px;
    margin: 0 auto;
    line-height: 1.25em;
	font-size: 12pt;
    
	h1 {
		font-size: 2.4em;
		margin: 0 0 (_size(element-margin) * 0.25) 0;
		line-height: 1.3;
	}

	h2 {
		font-size: 1.9em;
		margin-top: 60px;
		border-bottom: solid 1px _palette(border);
	}

	h3 {
		font-size: 1.3em;
	}

	h4 {
		font-size: 0.9em;
		color: _palette(fg-light);
	}

	h5 {
		font-size: 0.8em;
		color: _palette(fg-light);
	}

	h6 {
		font-size: 0.7em;
	}

    a {
		color: _palette(fg);
		border-bottom: none;
    }
}
